@import "variables";

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html,
body {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: $background;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}