$default-font: "Roboto", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #838383;
$background: #2D2D2D;
$loader: #8AE3FF;

$anakiwa: #8AE3FF;
$silver-chalice: #9D9D9D;
$alto: #D0D0D0;
$mine-shaft: #252525;
$emperor: #505050;
$alabaster: #FBFBFB;
$dove-gray: #626262;
$shakespeare: #45ADCE;